<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VerificaMTC"
        tools:targetApi="31">
        <activity
            android:name=".auth.AuthSelectorActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.AuthRegisterActivity"
            android:exported="true" />
        <activity
            android:name=".auth.AuthUserActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".auth.AuthAdminActivity"
            android:exported="true"/>
        <activity
            android:name=".admin.dashboard.AdminDashboardActivity"
            android:exported="true"/>
        <activity
            android:name=".user.dashboard.UserDashboardActivity"
            android:exported="true"/>
        <activity
            android:name=".user.vehicle.UserVehicleActivity"
            android:exported="true"/>
        <activity android:name=".admin.dashboard.AdminHomeActivity"
            android:exported="true"/>
        <activity android:name=".admin.dashboard.PaymentsListActivity"
            android:exported="true"/>
        <activity android:name=".admin.dashboard.ScheduleManagementActivity"
            android:exported="true"/>
        <activity android:name=".admin.dashboard.AddScheduleActivity"
            android:exported="true"/>

    </application>

</manifest>